@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,::before,::after{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    height:100vh;
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.calculator-wrapper{
    margin:5% auto;
    width:400px;
    min-height:650px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4,90px);
    grid-template-rows: minmax(150px, auto)repeat(5,90px);
    background: linear-gradient(145deg, #d0d0d0, #afafaf);
    border:10px outset #fff
    
}

.calculator-wrapper>button{
    margin:auto auto;
    font-size: 2rem;
    font-weight: 900;
    width:70px;
    height:70px;
    border-radius: 50%;
    border:none;
    background: linear-gradient(145deg, #afafaf, #d0d0d0);
    box-shadow:  20px 20px 60px #a5a5a5,
             -20px -20px 60px #dfdfdf;
  
}
button:hover{
    background: #c2c2c2;
    box-shadow: inset 20px 20px 29px #a5a5a5,
            inset -20px -20px 29px #dfdfdf;
}

.span-two{
    grid-column: span 2;
}

button.span-two{
    width:180px;
    border-radius: 40px 40px 40px 40px;
}

.calculator-output{
    grid-column: 1/-1;
    background-color: black;
    display:flex; 
    align-items:flex-end; 
    flex-direction: column;
    justify-content: space-between;
    color:wheat;
    padding:20px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border:5px inset #fff;
    z-index:1;
}
